[Unit]
Description=Matrix display
After=network.target

[Service]
ExecStart=/home/pi/rpi-fb-matrix/rpi-fb-matrix /home/pi/rpi-fb-matrix/matrix.cfg
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
